
/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 575px) {

}

@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}

.navbar {
    background-color: #64C4ED;
    font-size: 20px;
    font-weight: bold;
}
.dropdown-menu {
    background-color: #64C4ED !important;
}
.nav-item {
    padding: 5px;
}

/*border bottom navbar*/
.navbar li.different{
    border:none;
    position: relative;
}
.navbar li.different:hover{
    border: none;
}
.navbar li:hover {
    border-bottom: 1px solid #FFFFFF;
}
.different::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    left: 50%;
    bottom:0;
    background-color: white;
    transition: all ease-in-out .2s;
}
.different:hover::after{
    width: 100%;
    left: 0;
}
.hero-div {
    position: relative;
}
.hero-pozadina {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(100, 196, 237, 0.5); /* Blue background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
}
.carousel-cap {
    position: absolute;
    right: 15%;
    top: 85%;
    transform: translateY(-85%);
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}
.carousel-img {
    object-fit: cover;
    /*opacity: 0.65;*/
}
.card {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 14px, rgba(0, 0, 0, 0.22) 0 8px 8px;
}
.card, .card-footer {
    border-color: #eac861 !important;
}
.btn-warning {
     color: white !important;
     background-color: #eac861 !important;
     border-color: #eac861 !important;
     box-shadow: 0 5px 7px 0 rgba(0,0,0,0.2), 0 5px 7px 0 rgba(0,0,0,0.19) !important;
 }
.btn-warning:hover {
    color: white !important;
    border-color: #edd078 !important;
    background-color: #edd078 !important;
}
.btn-warning:focus {
    box-shadow: none !important;
}

.btn-outline-warning {
    color: #212529 !important;
    border-color: #eac861 !important;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.2), 0 5px 7px 0 rgba(0,0,0,0.19) !important;
}
.btn-outline-warning:hover {
    color: white !important;
    border-color: #eac861 !important;
    background-color: #eac861 !important;
}
.btn-outline-warning:focus {
    box-shadow: none !important;
}
.font-20 {
    font-size: 20px;
}
.font-24 {
    font-size: 24px;
}
.paralax-pocetna {
    background-image: url(../images/paralax.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 50vh; /* 100% of viewport height */
    margin: 0 auto;
    position: relative;
}
.paralax-pocetna .paralax-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    background-color: rgba(100, 196, 237, 0.6);
    border-radius: 10px;
}
